/* app css stylesheet */

body{
  background-color:black;
  padding:20px 50px 20px 50px;
}

.container{
  background-color:#5f9ea0;
  color:white;
  height:900px;
  width:500px;
  position:relative;
}

.main{
  padding-top:10px;
}

.top{
  background-color:#ffffff;
  color:#518687;
  padding: 10px 10px 0px 10px;
  height:90px;

}

.bottom{
  background-color:#71BCBC;
  padding:10px;
  height:70px;
  width:480px;
  position:absolute;
  bottom:0px;
}

.merchantName{
  font-size:30px;
  font-weight:bold;
}

.date{
  font-size:18px;
  float:left;
}

.total{
  font-size:18px;
  text-align:center;
}

.left{
  overflow:auto;
  overflow-x: hidden;
  float:left;
  width:65%;
  height:780px;
}

.item{
  padding-left:10px;
  height:30px;
  line-height:30px;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin:0 0 2px 0px;
  background-color:#68ACAD;
}

.hasItem{
  background-color:#76C1C1;
}

.item:hover{
  background-color:#77C4C4;
}

.right{
  width:25%;
  float:right;
  overflow:auto;
}

.contact{
  background-color: #AEE5E5;
  min-width:50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom:5px;
  height:40px;
  color:#5f9ea0;
  font-size:20px;
  display:inline-block;
  text-align:right;
  float:right;
  padding:0 10px 0 20px;
  clear:right;
  font-weight:bold;
  line-height:40px;
}

.pay, .advance, .addContact, .back{
  background-color: #AEE5E5;
  font-size:30px;
  width:80px;
  height:40px;
  color:#5f9ea0;
  border-radius: 20px;
  text-align:center;
  font-weight:bold;
  line-height:40px;
  float:right;
  margin-right:10px;
  margin-top:10px;
}

.pay {
  font-size:22px;
}

.pay:hover, .advance:hover, .back:hover, .addContact:hover, .contact:hover, .contactBook:hover{
  background-color: #FFFFFF;
}

.activeContact{
  background-color:#FFFFFF;
}

.itemDescription{
  width:60%;
  float:left;
}

.itemAmount{
  width:10%;
  float:left;
}

.itemPrice{
  width:20%;
  float:left;
  text-align:right;
}

.clearFloat{
  clear: both;
}

.contactPrename{
  width:30%;
  float:left;
}

.contactName{
  width:30%;
  float:left;
}

.contactNumber{
  width:40%;
  float:left;
  text-align:right;
}

.contactBookPrename{
  width:25%;
  float:left;
  margin-left:10px;
}

.contactBookName{
  width:25%;
  float:left;
}

.contactBookNumber{
  float:left;
  text-align:right;
}

.contactBook{
  background-color: #FFFFFF;
  border-bottom: 1px solid #cccccc;
  height:30px;
  color:#444444;
  font-size:15px;
  line-height:30px;
}

.contactBook:hover{
  background-color:#eaeaea;
}

.paySelection{
  text-align:center;
}

input, select{
  color:#518687;
}

.itemDisabled{
  background-color:#558E8E;
  color:#69AEAF;
}

.itemDisabled:hover{
  background-color:#558E8E;
}

button{
  color:#444444;
}

.payBubble{
  float:left;
  height:75px;
  width:100px;
  text-align:center;
  border-radius:50px;
  padding-top:25px;
  font-size:20px;
  font-weight:bold;
  color:#ffffff;
  margin:12px;
  background-color:#518687;
}

.payBubble:hover{
  background-color:#77C4C4;
}

.payBalance{
  font-size:15px;
  font-weight:normal;
}

.activePaySelection{
  background-color:#ffffff;
  color:#518687;
}

.entryLabel{
  margin-left:20px;
  width:150px;
  font-weight:bold;
  display: inline-block;
}

.entryButton{
  margin-left:170px;
  margin-bottom:20px;
}

.center{
  text-align:center;
}

.billNumber{
  width:296px;
  height:25px;
  font-size:15px;
  padding:0px;
}

.selectUser{
  width:300px;
  margin-bottom:10px;
  height:25px;
  font-size:15px;
  padding:0px;
}

.userRecord{
  font-size:15px;
  padding:0px;
}

.error{
  color:#FF5555;
  font-weight:bold;
  text-align:center;
  margin-bottom:20px;
}

.white{
  border-bottom: 1px solid #cccccc;
}

.thankYou{
  text-align:center;
  font-weight:bold;
  font-size:30px;
  margin:50px 20px 0 20px;
}